APP_DB_HOST=localhost
APP_DB_PORT=5432
APP_DB_USER=payments
APP_DB_PASSWORD=payments
APP_DB_NAME=payments

APP_RABBITMQ_HOST=localhost
APP_RABBITMQ_PORT=5672
APP_RABBITMQ_USER=guest
APP_RABBITMQ_PASSWORD=guest

APP_API_KEY=secret-api-key
